USE [master]
GO
/****** Object:  Database [FCQ_LOG_DB]    Script Date: 24-01-2016 17:15:25 ******/
CREATE DATABASE [FCQ_LOG_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FCQ_LOG_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.BAUSSSQL\MSSQL\DATA\FCQ_LOG_DB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FCQ_LOG_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.BAUSSSQL\MSSQL\DATA\FCQ_LOG_DB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FCQ_LOG_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FCQ_LOG_DB]
GO
/****** Object:  Table [dbo].[ActionTraces]    Script Date: 24-01-2016 17:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ActionTraces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MapId] [int] NULL,
	[OwnerId] [int] NOT NULL,
	[AuthKey] [varchar](max) NOT NULL,
	[ClientId] [int] NOT NULL,
	[ActionName] [varchar](50) NOT NULL,
	[ActionDescription] [varchar](max) NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_ActionTraces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DisconnectTraces]    Script Date: 24-01-2016 17:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DisconnectTraces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TraceId] [varchar](max) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[DisconnectReason] [varchar](max) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK_DisconnectTraces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PacketTraces]    Script Date: 24-01-2016 17:15:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PacketTraces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PacketId] [int] NOT NULL,
	[PacketSubObject] [varchar](50) NULL,
	[OwnerId] [int] NOT NULL,
	[TraceId] [varchar](max) NOT NULL,
	[Size] [int] NOT NULL,
	[VirtualSize] [int] NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[Buffer] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_PacketTraces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
